body {
  font-family: fantasy ;
}

footer table, #user-info {
	border: 1px solid black;
	margin-top: 1em;
}

footer table tr td, #user-info tr td {
	border: 1px solid black ;
	width: 5em;
	height: 2em;
}

#board {
	border: 5px solid purple ;
	float: left;
	margin-right: 5em;
}

#board tr td {
	border: 1px solid black ;
	width: 2.5em;
	height: 2.5em;
}