body {
  font-family: fantasy ;
}

footer {
	float: left;
}

footer table, #user-info {
	border: 1px solid black;
	margin-top: 1em;
}

footer table tr td, #user-info tr td {
	border: 1px solid black ;
	width: 5em;
	height: 2em;
}

#end-game {
	width: 125px;
}

#board {
	float: left;
	border: 5px solid purple ;
	margin-right: 5em;
}

#board tr td {
	border: 1px solid black ;
	width: 2.5em;
	height: 2.5em;
}

#err-msgs {
	width: 30%;
	color: red;
	clear: both;
	padding-top: 1em;
}